aniso8601 @ file:///home/conda/feedstock_root/build_artifacts/aniso8601_1618789466884/work
asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.2.4
graphene @ file:///home/conda/feedstock_root/build_artifacts/graphene_1690379572063/work
graphene-django==3.1.3
graphql-core @ file:///home/conda/feedstock_root/build_artifacts/graphql-core_1663938321907/work
graphql-relay @ file:///home/conda/feedstock_root/build_artifacts/graphql-relay_1650134628625/work
promise==2.3
psycopg2==2.9.6
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2023.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sqlparse==0.4.4
text-unidecode==1.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata==2023.3
